.profile-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-header-text h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.edit-profile-button {
  font-size: 14px;
  color: #007bff;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 5px;
  display: block;
  text-align: center;
}

.profile-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.tab-button {
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid transparent;
}

.tab-button.active {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.profile-content {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 10px;
}

.profile-info-item i {
  font-size: 20px;
  margin-right: 15px;
  color: #333;
  width: 30px;
  text-align: center;
}

.profile-info-item label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  width: 200px;
}

.profile-info-item p {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  color: #333;
  flex-grow: 1;
  text-align: left;
}

/* Styles for the Log Out button */
.logout-button {
  display: block;
  margin: 20px auto; /* Centers the button */
  padding: 10px 20px;
  background-color: #016DAE;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
}

.logout-button:hover {
  background-color: #00448c;
}
